.traffic-light{
    background: black;
    margin: auto;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    }
    .light{
        width:100px;
        height:100px;
        border-radius: 50%;
        background-color: blue;
        }
    .red{background-color: red;}
    .yellow{background-color: yellow;}
    .green {background-color: green;}
    .glow {
        box-shadow: 0px 0px 9px 4px #747DE8;
    }
    .pole{
        background-color: black;
        width: 10px;
        height: 100px;
        margin-left: 55px;
        margin: auto;
    }
    
    .container{
        width:100vw;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }